# Dart/Flutter related
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
**/doc/api/
.pub-cache/
.pub/

# IDE related
.idea/
*.iml
*.ipr
*.iws
#.vscode/

# OS related
.DS_Store
*.class
*.log
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Environment files
.env*

# Generated JavaScript files
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

# iOS related
**/ios/Flutter/.last_build_id

# Android related
/android/app/debug
/android/app/profile
/android/app/release

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json
